{% block content %}
    <style>
        .password-recovery-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: center;
        }

        .password-recovery-form h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .password-recovery-form label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .password-recovery-form input[type="email"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .password-recovery-form button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .password-recovery-form button:hover {
            background-color: #0056b3;
        }

        .return-link {
            display: block;
            margin-top: 20px;
            font-size: 16px;
            color: #007bff;
            text-decoration: none;
        }

        .return-link:hover {
            text-decoration: underline;
        }
    </style>
    <div class="password-recovery-form">
        <h1>Recuperar Contraseña</h1>
        <form action="{% url 'recuperar_contraseña' %}" method="post">
            {% csrf_token %}
            <label for="email">Correo Electrónico:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Recuperar Contraseña</button>
        </form>
        <a href="{% url 'login' %}" class="return-link">Volver a inicio sesión</a>
    </div>
{% endblock %}
