{% extends 'base.html' %}

{% block content %}
    <h1>Word Cloud</h1>

    <form method="GET" action="{% url 'wordcloud' %}">
        <label for="formato_ficha">Formato:</label>
        <select name="formato_ficha" id="formato_ficha" multiple>
            <option value="movie">Película</option>
            <option value="tvserie">Serie de TV</option>
            <option value="theatre">Obra de teatro</option>
            <option value="musica">Música</option>
            <option value="boardgame">Juego de mesa</option>
            <option value="videogame">Videojuego</option>
            <option value="comic">Cómic</option>
            <option value="novel">Novela</option>
        </select>
        <label for="paises">Paises:</label>
        <select name="paises" id="paises" multiple>
            <!-- Opciones de pais obtenidas de tu base de datos o fijas -->
            {% for pais in paises %}
                <option value="{{ pais }}">{{ pais }}</option>
            {% endfor %}
        </select>
        <label for="genero">Géneros:</label>
        <select name="genero" id="genero" multiple>
            <!-- Opciones de género obtenidas de tu base de datos o fijas -->
            {% for genero in lista_de_generos %}
                <option value="{{ genero }}">{{ genero }}</option>
            {% endfor %}
        </select>
        <label for="anio_inicio">Año de inicio:</label>
        <select name="anio_inicio" id="anio_inicio">
            {% for anio in anos %}
                <option value="{{ anio }}">{{ anio }}</option>
            {% endfor %}
        </select>

        <label for="anio_fin">Año de fin:</label>
        <select name="anio_fin" id="anio_fin">
            {% for anio in anos %}
                <option value="{{ anio }}" {% if anio == 2030 %} selected {% endif %}>{{ anio }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Word Cloud">
{% endblock %}
