{% block content %}
    <style>
        .login-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .login-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }

        .btn-primary {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .forgot-password-link {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: #007bff;
            text-decoration: none;
        }

        .forgot-password-link:hover {
            text-decoration: underline;
        }
    </style>
    <div class="login-form">
        <h2>Iniciar sesión</h2>

        {% if form.errors %}
            <p class="error-message">El nombre de usuario y la contraseña no coinciden. Por favor, inténtelo de nuevo.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="error-message">Tu cuenta no tiene acceso a esta página. Para continuar, por favor inicia sesión con una cuenta que tenga acceso.</p>
            {% else %}
                <p class="error-message">Por favor, inicia sesión para ver esta página.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Nombre de usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña</label>
                {{ form.password }}
            </div>
            <input type="submit" class="btn btn-primary" value="Iniciar sesión">
            <input type="hidden" name="next" value="{{ next }}">
            <a href="{% url 'recuperar_contraseña_form' %}" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
{% endblock %}
